.stores-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
}


.stores-list-title, .store-container-title {
    font-size: 1.5rem;
    color: white;
    font-weight: normal;
}

.stores-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.store-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 50px;
    flex: 1;
}

.product-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }
  

@media screen and (max-width: 800px){
    .stores-list-title, .store-container-title{
        font-size: 1.2rem;
    }

    .store-container{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        flex: 1;
    }

}