.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #001136;
    color: white;
    padding: 10px 0 10px;
    height: 30px;
    width: 100%;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 95%;
    height: 0.5px; 
    background-color: rgba(255, 255, 255, 0.253); 
    transform: translateX(-50%);
  }

.navbar-logo{
    height: 70%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
}

.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
    gap: 20px;
}

.interactive{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    gap: 20px;
}

.navbar-welcome{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    gap: 5px;
}

.navbar-text{
    padding: 0;
    margin: 0;
    font-size: small;
}

.navbar-user{
    padding: 0;
    margin: 0;
    color: #A6C8F0;
    font-size: small;
}

.options-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.account-dropdown {
    position: relative;
    display: inline-block;
}

.account-dropdown-content {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    transition: max-height 1.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.account-dropdown-content a {
    color: #001136; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px; 
}

.account-dropdown-content a:hover {
    color: #007bff; 
}

.account-dropdown:hover .account-dropdown-content {
    visibility: visible;
    opacity: 1;
    height: auto;
    max-height: 500px; /* Ajusta este valor según el contenido */
}
  
.shopping-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px; 
    background-color: transparent;
    border: 1px solid white; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
  
.shopping-cart-button:hover {
    background-color: #007bff; 
    border-color: #0056b3; 
}
  
.shopping-cart-icon {
    color: white; 
}

.menu-icon {
    display: none; 
}

.menu-dropdown {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: white;
    border-radius: 5px;
    z-index: 1000;
    transition: max-height 1.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.menu-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-dropdown ul li {
    padding: 10px;
    border-bottom: 0.5px solid #f1f1f1;
    display: flex;
    align-items: center;
}

.menu-dropdown ul li:last-child {
    border-bottom: none;
}

.menu-dropdown ul li a {
    color: #001136;
    text-decoration: none;
    font-size: 14px;
    margin: 3px;
}

.menu-dropdown ul li a:hover {
    color: #007bff;
}

.menu-dropdown ul li svg {
    color: #fff;
}

.menu-dropdown ul li span {
    color: #fff;
    margin-left: 10px;
}


@media screen and (max-width: 700px) {
    .interactive {
      display: none; 
    }
  
    .navbar-logo {
      margin-left: 1rem;
    }
  
    .menu-icon {
      display: flex; 
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: transparent;
      border:  none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
    }
  
    .menu-icon:hover {
      background-color: rgba(255, 255, 255, 0.1); 
    }

    .menu-dropdown {
        display: flex;
    }

    .menu-dropdown.active {
        visibility: visible;
        opacity: 1;
        max-height: 500px; /* Ajusta este valor según el contenido */
    }

  }
  